.contacto{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.contenedorContacto{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contForm{
		width: 20em;
		height: 30em;
		display: flex;
		margin-top: 10px;
		.formulario{
			width: 100%;
			text-transform: uppercase;
			font-family: $font;
			letter-spacing: 4px;
			color: $grisclaro;
			border: 2px solid $grisclaro;
			padding: 5px;
			textarea{
				width: 100%;
				height: 100px;
				resize: none;
			}
			p{
				font-size: 1.4rem;
				height: 48px;
				padding-top: 10px;
				margin-bottom: 2px;
			}
			input{
				width: 100%;
				height: 40px;
			}
		}
	}	
		
}		