body{
	background-color: $grismedio;
	box-sizing: border-box;
}
.grid{
	display: grid;
	grid-template-areas:
	"header"
	"body"
	"footer"
	;
	grid-template-rows: auto auto 18.75em;
	grid-template-columns: 100%
}
.headerMob{
	display: none;
	width: 100%;
	background-image: $gradiente;
	font-family: $font;
	.tituloMob{
		text-transform: uppercase;
		font-style: italic;
		padding-right: 1rem;
		a{
			color: $grisclaro;
			text-decoration: none;
		}	
	}
	.botoneraMob{
		text-transform: uppercase;
		background-color: $grisoscuro;
		letter-spacing: 0.25rem;
		margin-top: 0;
		border: 0;
		border-radius: 0 0 5px 0; 
		a{
			color: $grisclaro;
			text-decoration: none;
		}
	}		
}
.header{
	grid-area: header;
	background-image: $gradiente;
	position: sticky;
	top: 0;
	z-index: 1060;	
	.logo{
		display: flex;
		align-items: center;
	}
	.tituloNav{	
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		.titulo{
			font-style: italic;
			font-family: $font;
			text-transform: uppercase;
			a{
				text-decoration: none;
				color: $grisclaro;
			} 
		}	
		.navBotonera{
			width: 80%;
			.botonera{
				text-transform: uppercase;
				list-style-type: none;
				letter-spacing: 0.25rem;
				display: flex;
				margin-bottom: 0.22em;
				justify-content: space-evenly;
				li{
					display: flex;
					justify-content: space-between;
					padding-right: 0.62rem;
					a{
						color: $grisclaro;
						text-decoration: none;
						transition: 0.1s;
						&:hover{
							color: $grismedio;
							transform: scale(1.05);
						}
					}
					.subBotonera{
						background-color: $grisoscuro;
					}
				}
			}
		}	
	}
	.ingresar{
		display: flex;
		align-items: center;
		font-family: $font;
		text-transform: uppercase;
		.botonIng{
			margin-bottom: 0.31em;
			background-color: $grisclaro;
			color: $grisoscuro;
			border: solid 1px $grisoscuro;
			border-radius: 5px;
			&:hover{
				background-color: $grisoscuro;
				color: $grisclaro;
				border: solid 1px $grisclaro;
			}
		}
		.modal{
			.botonModal{
				background-color: $grisclaro;
				color: $grisoscuro;
				border: solid 1px $grisoscuro;
				border-radius: 5px;
				&:hover{
					background-color: $grisoscuro;
					color: $grisclaro;
					border: solid 1px $grisclaro;
				}
			}
		}	
	}
	.formBuscar{
		input{
			height: 2.2em;
			width: 12rem;
			margin-bottom: 0.31em;
			border-radius: 5px;
			border: none;
		}
		button{
			background-color: $grisclaro;
			color: $grisoscuro;
			border: solid 1px $grisoscuro;
			border-radius: 5px;
			transform: translateY(-1px);
			&:hover{
				background-color: $grisoscuro;
				color: $grisclaro;
				border: solid 1px $grisclaro;
			}	
		}
	}
}	
.body{
	grid-area: body;
	.subTitulo{
		margin: 1.2rem;
		border-bottom: 2px solid; 
		color: $grisoscuro;
		text-transform: uppercase;
		letter-spacing: 0.25rem;
	}
	.imgOfertasIndexP{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
		.imgOfertasIndexH{
			margin-bottom: 1.8em;
			padding: 0.31em 0.31rem 1.87em 0.31rem;
			border: 2px solid $grisoscuro;
			color: $grisoscuro;
			display: flex;
			flex-direction: column;
			font-style: italic;
			text-transform: uppercase;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 0 0 0.93em 0.31rem $colorsombras;
			box-shadow: 0 0 0.93em 0.31rem $colorsombras;
			transition: 0.2s;
			&:hover{
				transform: scale(1.01);
				-webkit-box-shadow: 0 0 0.93em 0.31rem rgba(64,64,64,1);
				box-shadow: 0 0 0.93em 0.31rem rgba(64,64,64,1);
			}
			img{
				-webkit-border-radius: 0.31em 0.31rem 0 0;
				border-radius: 0.31em 0.31rem 0 0;
			}
			button{
				text-transform: uppercase;
				background-color: $grisoscuro;
				border: $grisoscuro;
				color: $grisclaro;
				&:hover{
					background-color: $grisclaro;
					color: $grisoscuro;
				}
			}
			.tituloRemera{
				text-align: center;
			}
		}
	}
	h5{
		font-family: $font;
		text-transform: uppercase;
	}
}		
.wppLogo{
	position: fixed;
	bottom: 1.2em;
	right: 1.2rem;
	z-index: 90;
	transition: 0.2s;
	&:hover{
		transform: scale(1.10);
	}
}
.footer{
	grid-area: footer;
	background-image: $gradiente; 
	color: $grisclaro;
	font-family: $font;
	bottom: 0;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-areas: 
	"direccion secciones redes"
	;
	li{
		text-transform: uppercase;
		list-style-type: none;
		letter-spacing: 2px;
		a{
			text-decoration: none;
			color: $grisclaro;
			transition: 0.1s;
			&:hover{
				color: $grismedio;
			}
		}
	}
	.direccion{
		grid-area: direccion;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		span{
			margin: 2px 0;
		}
	}
	.secciones{
		grid-area: secciones;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
	}
	.redes{
		grid-area: redes;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		li{
			transition: 0.1s;
			&:hover{
				transform: scale(1.05);
			}
		}
	}
}
@media all and (max-width: 1100px){
	.header{
		.formBuscar{
			input{
				width: 10em;
			}
		}
	}
}
@media all and (max-width: 800px){
	.header{
		.formBuscar{
			input{
				width: 7em;
			}
		}
	}
}
@media all and (max-width: 576px){
	.header{
		display: none;
	}
	.headerMob{
		display: flex;
		justify-content: space-between;
	}
	.footer{
		display: flex;
		justify-content: space-evenly;
		.secciones{
			padding-left: 0;
		}
		.direccion{
			display: none;
		}
	}
}		