.nosotros{
	background-color: $grisclaro;
	.noImg{
		padding: 0;
	}
	.noText{
		display: flex;
		flex-direction: column;
		justify-content: center;
		h3{
			text-transform: uppercase;
		}
	}
}
.nosotros2{
	background-color: $grisoscuro;
	.noImg{
		padding: 0;
	}
	.noText{
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $grisclaro;
		h3{
			text-transform: uppercase;
		}
	}
}
@media all and (max-width: 576px){
	.nosotros2{
		img{
			order: 1;
		}
		div{
			order: 2;
		}
	}
}
