.bannerProductos{
	display: flex;
	justify-content: center;
	img{
		border-bottom-right-radius: 0.31em;
		border-bottom-left-radius: 0.31em;
	}
}
@media all and (max-width: 1100px){
	.bannerProductos{
		img{
			width: 100vw;	
		}
	}
}
@media all and (max-width: 800px){
	.bannerProductos{
		img{
			width: 100vw;
		}
	}
}
@media all and (max-width: 576px){
	.bannerProductos{
		img{
			width: 100vw;
		}
	}
}
